body { margin: 0 10px; }

*, *:before, *:after { box-sizing: border-box; }

header {
    background-color: darkturquoise;
    padding: 15px;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.result-container {
    margin: 2px 0;
    background-color: limegreen;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor {
    color: royalblue;
    text-decoration: none;
}

.anchor-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
}

.flex-cell {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.1rem;
    box-sizing: border-box;
    max-height: 200px;
    max-width: 200px;
}

.flex-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.flex-item {
    flex-grow: 1;
    border: 1px solid black;
    background: white;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: block;
    width: 100%;
}