@using System.Text.Json
@model TicTacToe.Models.ViewModels.BoardViewModel

@{
    TempData["Board"] = JsonSerializer.Serialize(Model.Board);
    TempData["NextTurn"] = Model.NextTurn;
}
<header >
    <div class="header-container">
        <h1>
            Tic Tac Toe
        </h1>
    </div>

</header>
<div >
    <div class="result-container">
        <h2>
            It's tie
        </h2>
    </div>
</div>
<div class="anchor-container">
    <a class="anchor" href="">New Game</a>
</div>
<div class="main">
    <form class="flex-container" asp-controller="Home" asp-action="MakeAStep" method="post">
        @foreach (var cell in Model.Board.Cells)
        {
            <div class="flex-cell">
                <button class="flex-item" asp-route-btn="@cell.Id">
                    @if (cell.Value != CellValues.Empty)
                    {
                        @cell.Value
                    }
                </button>
            </div>
        }
    </form>
</div>