<header >
    <div class="header-container">
        <h1>
            Tic Tac Toe
        </h1>
    </div>

</header>
<div >
    <div class="result-container">
        <h2>
            It's tie
        </h2>
    </div>
</div>
<div class="anchor-container">
    <a class="anchor" href="">New Game</a>
</div>
<div class="main">
    <div class="flex-container">
        <div class="flex-cell">
            <button class="flex-item">1</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">2</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">3</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">4</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">5</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">6</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">7</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">8</button>
        </div>
        <div class="flex-cell">
            <button class="flex-item">9</button>
        </div>
    </div>
</div>