<header class="header">
    <div class="header-container">
        Tic Tac Toe
    </div>

</header>
<div class="result">
    <div class="result-container">
        dsf
    </div>
</div>
<div class="main">
    <div class="main-container">
        <div class="flex-container">
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <div class="flex-container">
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
        <div class="flex-container">
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
    </div>
</div>